//	Bot Token
discordBotToken:TOKEN_HERE

// Detailled logging
printStackTrace:true

// Console logging (true/false)
logToConsole:true
// Logging in channel (true/false)
logToChannel:true
// Logging channel ID
loggingChannelID:CHANNEL_ID_HERE

// Debug mode
debugMode:false
// Debug mode user IDs
debugIDs:[DEBUG_ID_1,DEBUG_ID_2]
// Debug server ID
serverId:SERVER_ID
